{% extends "templates.html" %}

{% block title %} Add code {% endblock %}

{% block content %}
    <style type="text/css" media="screen">
        #editor {
            height: 400px;/*высота редактора*/
        }
    </style>
    <form action="{% url 'text:create' %}" method="post">
        {% csrf_token %}
        <label>Тема</label>
        <div class="form-group">
            <input class="form-control" type="text" name="topic" value="{{ form.topic.value|default_if_none:'' }}">
            {% for error in form.topic.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <label>Код</label>
        <pre id="editor"></pre>
        <div class="ace-editor editor-control"></div>
        <input type="hidden" name="textfield" id="textfield" value="">
        {% for error in form.textfield.errors %}
            <p class="text-danger">{{ error }}</p>
        {% endfor %}
        <label>Теги</label>
        <div class="form-group">
            <input id="input-tags" name="tags">
        </div>
        {% if request.user.is_authenticated %}
        <input class="btn btn-primary" type="submit" value="Добавить">
        {% else %}
        <p class="text-danger">Авторизуйтесь, чтобы добавлять тексты</p>
        {% endif %}
    </form>
    <script>
        var editor = ace.edit("editor");
        editor.session.setMode("ace/mode/python");
        function getcode(){
            code = editor.getValue();
            return code
        }
        editor.session.on('change', function(delta) {
            $("#textfield").val(getcode());
        });
        $('#input-tags').selectize({
            delimiter: ',',
            persist: false,
            create: function(input) {
                return {
                    value: input,
                    text: input
                }
            }
        });
    </script>
{% endblock %}
