{% extends "templates.html" %}

{% block title %} TextShare Detail {% endblock %}

{% block content %}
<strong>ID: {{ text.id }}</strong><br>
<strong>Текст: </strong>{{ text.text|linebreaks }}
{% if request.user.is_authenticated %}
<a href="{% url 'text:create' %}">Создать новый</a> |
    {% if text.user_id == request.user.id %}
        <a href="{% url 'text:edit' text.id %}">Изменить</a> |
        <a href="{% url 'text:delete' text.id %}?next={{ url }}">Удалить</a>
    {% endif %}
{% else %}
<p class="text-danger">Авторизуйтесь, чтобы добавлять/изменять тексты</p>
{% endif %}
{% endblock %}
