{% extends "templates.html" %}

{% block title %} TextShare Detail {% endblock %}

{% block content %}
<label>Тема</label>
<p>{{ text.topic }}</p>
<label>Код</label>
<style type="text/css" media="screen">
    #editor {
        height: 400px;/*высота редактора*/
    }
</style>
<pre id="editor"></pre>
<input id="code" type="hidden" value="{{ text.text }}">
<script>
    var editor = ace.edit("editor");
    editor.session.setMode("ace/mode/python");
    code = document.getElementById("code").value;
    editor.session.setValue(code)
    editor.setOptions({
        readOnly:true,
        highlightActiveLine: false,
        selectionStyle: "text"
    });
</script>
<p style="font-weight:bold">
    Теги:
    {% for tag in tags %}
        {% if tag.tag != '' %}
            <a href="{%url 'text:search' tag.tag %}">{{ tag.tag }}</a>
        {% endif %}
    {% endfor %}
</p>
{% if request.user.is_authenticated %}
<a href="{% url 'text:create' %}">Создать новый</a> |
    {% if text.user_id == request.user.id %}
        <a href="{% url 'text:edit' text.id %}">Изменить</a> |
        <a href="{% url 'text:delete' text.id %}?next={{ url }}">Удалить</a>
    {% endif %}
{% else %}
<p class="text-danger">Авторизуйтесь, чтобы добавлять/изменять тексты</p>
{% endif %}
{% endblock %}
