{% extends "templates.html" %}

{% block title %} Search {% endblock %}

{% block content %}

<div>
    <p style="display: inline-block;">Тег: </p>
    <p style="display: inline-block; font-weight: bold;">{{ tag }}</p>
</div>
<div>
    <p style="display: inline-block;">Найдено совпадений: </p>
    <p style="display: inline-block; font-weight: bold;">{{ texts.count }}</p>
</div>
<div>
    {% for code in texts %}
        <p style="display: inline-block;">Тема: {{ code.text.topic }} |</p>
        <a style="display: inline-block;"href="{% url 'code:detail' code.text.id %}">Перейти</a><br>
    {% endfor %}
</div>


{% endblock %}
