{% extends "templates.html" %}

{% block title %} Code Detail {% endblock %}

{% block content %}
<div class="form-group">
    <label>Тема: </label>
    <p style="display:inline-block">{{ text.topic }}</p>
    <p>Код</p>
    <style type="text/css" media="screen">
        #editor {
            height: 400px;/*высота редактора*/
        }
    </style>
    <pre id="editor"></pre>
    <input id="code" type="hidden" value="{{ text.code }}">
    <script>
        var editor = ace.edit("editor");
        editor.session.setMode("ace/mode/python");
        code = document.getElementById("code").value;
        editor.session.setValue(code)
        editor.setOptions({
            readOnly:true,
            highlightActiveLine: false,
            selectionStyle: "text"
        });
    </script>
    <p style="font-weight:bold">
        Теги:
        {% for tag in tags %}
            {% if tag.tag != '' %}
                <a href="{%url 'code:search' tag.tag %}">{{ tag.tag }}</a>
            {% endif %}
        {% endfor %}
    </p>
    {% if request.user.is_authenticated %}
    <span style="color:rgb(115, 165, 206)">
        <i class="fas fa-file"></i>
    </span>
    <a href="{% url 'code:create' %}">Создать новый</a> |
        {% if text.user_id == request.user.id %}
            <span style="color:rgb(115, 165, 206)">
                <i class="fas fa-edit"></i>
            </span>
            <a href="{% url 'code:edit' text.id %}">Изменить</a> |
            <span style="color:rgb(115, 165, 206)">
                <i class="fas fa-trash-alt"></i>
            </span>
            <a href="{% url 'code:delete' text.id %}{{ url }}">Удалить</a>
        {% endif %}
    {% else %}
        <p class="text-danger">Авторизуйтесь, чтобы добавлять/изменять тексты</p>
    {% endif %}
</div>
<div class="comments form-group">
    <div class="add-comment form-group" id="add-comment">
        <label>Комментарии</label>
        {% if request.user.is_authenticated %}
        <form action="{% url 'code:addcomment' text.id %}" method="post">
            {% csrf_token %}
            <img src="{{request.user.avatar_or_default_url}}" style="width:60px; height:60px; border-radius: 60px; border: 2px solid #228f9a; display: inline-block;">
            <input id="comment-field" type="text" name="comment" class="form-control" style="display: inline-block; width: 80%;">
            <input type="hidden" name="reply_to" id="reply_to" value="">
            <input class="btn btn-primary" type="submit" value="Отправить" style="display: inline-block;">
            {% for error in form.comment.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
        </form>
        {% endif %}
    </div>
    <style>
        .comment {border-radius: 10px; border: 1px solid #228f9a; overflow: hidden; padding: 5px}
        .avatar, .name-comment {float: left;}
        .avatar {width: 6%;}
        .avatar img {width:60px; height:60px; border-radius: 60px; border: 2px solid #228f9a;}
        .name-comment {width: 55%;}
        .date, .buttons {width: 20%; float: right;}
        .comm {margin-top: 15px;}
        .buttons a{float: right; margin-right: 30px; margin-top: 20px;}
        @media only screen and (max-width:768px){
            .comment .name-comment{
                margin-left: 50px;
            }
            .buttons{
                display: block;
                width: 200px;
            }
        }
    </style>
    <div class="all-comments form-group">
        {% for comment in comments %}
        <div class="comment form-group" id="com{{comment.id}}">
            <div class="avatar">
                <img src="{{comment.user.avatar_or_default_url}}">
            </div>
            <div class="name-comment">
                <div class="name">
                    {{comment.user}}
                    {% if comment.reply_to %}
                        <p>В ответ: <a href="#com{{comment.reply_to.id}}">{{comment.reply_to.user.username}}</a></p>
                    {% endif %}
                </div>
                <div class="comm" id="{{comment.id}}comment" data-comment-id="{{comment.id}}" data-comment-name="{{comment.user}}">
                    <input type="hidden" value="{{comment.id}}" id="id-{{comment.id}}">
                    <p>{{comment.commentary}}</p>
                    <a style="color:#228f9a" href="#add-comment" onclick="reply($(this).closest('div').attr('id'))">Ответить</a>
                </div>
                <div class="edit-comm" id="{{comment.id}}editcomment" data-comment-id="{{comment.id}}" style="display:none">
                    <form action="{% url 'code:updcomment' comment.id text.id %}" method="post">
                        {% csrf_token %}
                        <input type="text" value="{{comment.comment}}" name="comment" class="form-control" style="width:500px; display:inline-block">
                        <input type="submit" value="Сохранить" class="btn btn-primary" style="display:inline-block">
                    </form>
                    <a href="javascript:void(0)" onclick="hideinput($(this).closest('div').attr('id'))">Отмена</a>
                </div>
            </div>
            <div class="date">
                Дата: {{comment.date_creation}}
            </div>
            <div class="buttons" id="{{comment.id}}edit" data-comment-id="{{comment.id}}">
                {% if request.user == comment.user %}
                <form action="{% url 'code:delcomment' comment.id text.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Удалить" class="btn btn-danger btn-sm" style="float: right; margin-right: 30px;">
                    <input type="button" onclick="showinput($(this).closest('div').attr('id'))" value="Изменить" class="btn btn-primary btn-sm" style="float: right; margin-right: 5px;">
                </form>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    var doc = document;
    function showinput(comm_id)
    {
        var comment = doc.getElementById(comm_id);
        var id = comment.dataset.commentId;
        doc.getElementById(""+id+"comment").style.display = 'none';
        doc.getElementById(""+id+"editcomment").style.display = 'inline';
    }
    function hideinput(comm_id)
    {
        var comment = doc.getElementById(comm_id);
        var id = comment.dataset.commentId;
        doc.getElementById(""+id+"comment").style.display = 'block';
        doc.getElementById(""+id+"editcomment").style.display = 'none';
    }
    function reply(comm_id)
    {
        var comment = doc.getElementById(comm_id);
        var name = comment.dataset.commentName;
        var field = doc.getElementById('comment-field');
        field.value = name + ", ";
        var reply_to = doc.getElementById('reply_to');
        var id = comment.dataset.commentId;
        reply_to.value = id;
    }
</script>
{% endblock %}
