{% extends "templates.html" %}

{% block title %} PythonShare {% endblock %}

{% block content %}
<div style="text-align:center" class="starter-template">
    <h2>PythonShare - сервис хранения листингов кода на Python</h2>
    <p class="lead">Данный сервис был написан в качестве изучения Django</p>
    <p>Хочу сказать спасибо таким людям, как Oleg Yamnikov и Oleg Kuznetsov за помощь в создании этого проекта.</p>
    <p>Также спасибо людям с телеграм чатов @ru_python и @django_framework за критику и поиск ошибок, а именно Eldar, Tigran Saluev, TpouHuK, Alex, Bohdan Studenets, Алексей Поляков, Александр Попов, Volodymyr Mruts, Maksimgeolog, Alexander Solo, Terry Filch, Алексей Котенко, Dmitry.</p>
</div>
{% endblock %}
