{% extends "templates.html" %}

{% block title %} Profile {% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-4">
        <a href="{% url 'user:settings' %}">Настройки профиля</a>
    </div>
    <div class="col-md-4" style="text-align:center;">
        <p style="font-weight:bold;">{{request.user}}</p>
        <img src="{{request.user.avatar_or_default_url}}" style="width:100px; height:100px; border-radius: 100px; border: 3px solid #228f9a;">
        <p>Количество созданных тем: {{ all.count }}</p>
    </div>
</div>
<p style="text-align:center; font-weight:bold">Ваш код</p>
<table class="table">
    <thead>
        <tr>
            <th>Тема</th>
            <th>Код</th>
            <th>Дата создания</th>
            <th>Дата изменения</th>
        </tr>
    </thead>
    <tbody>
        {% for code in codes %}
            <tr>
                <td>
                    <a href="{% url 'code:detail' code.id %}">
                        {{ code.topic }}
                    </a>
                </td>
                <td>
                    {{ code.text|truncatewords:3 }}
                </td>
                <td>{{ code.date_creation }}</td>
                <td>{{ code.date_last_change }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<ul class="pagination">
    {% for i in codes.paginator.page_range %}
        <li {% if codes.number == i %}class="active"{% endif %}><a href="?page={{ i }}">{{ i }}</a></li>
    {% endfor %}
</ul>

{% endblock %}
